@font-face {
  font-family: "Neue";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat"),
    url("../../fonts/TTFirsNeue-Medium.woff2") format("woff2"),
    url("../../fonts/TTFirsNeue-Medium.woff2") format("woff");
}
