// Colors
$base-white: #ffffff;
$base-dark: #000000;
$base-grey: #6F767E;
$ocean-blue: #3E8BF3;
$light-violet: #DFD3F7;
$light-blue: #C0E1EE;
$light-green: #D0E5C2;

// Viewports
$mobile-width-only: 727px;
$tablet-width: 728px;
$desktop-width: 1440px;
